<div class="container">
    <div class="mb-14 mt-4 px-36 lg:px-0">
        <h4 class="font-bold text-3xl">10 Reasons to Build Your Website with WP Page Builder</h4>
        <p class="text-sm mt-8 leading-6 tracking-wider">People’s quest for creating websites has easily taken us to a new era of site development. Where, with the availability of robust page building tools, creating websites has become a lot more fun (especially for non-developers).</p>
        <p class="text-sm mt-4">DESIGN PROCESS</p>
    </div>
</div>

<div class="bg-bogyBg pt-14 pb-20">
    <div class="container">
        <div class="px-36 lg:px-0">
            <div class="w-full h-[575px]">
                <img src="../../../assets/blogs/single/1.jpg" class="w-full h-full rounded-xl">
            </div>
            <p class="mt-8 tracking-wider leading-7">People’s quest for creating websites has easily taken us to a new era of site development. Where, with the availability of robust page building tools, creating websites has become a lot more fun (especially for non-developers). The multitude of tools and plugins available to you is vast when you try building websites on WordPress. Today we’ll explore a new one, WP Page Builder. If you’re tired of the same old page builder plugins, this is one you should try out.</p>
            <h4 class="text-2xl font-medium mt-20">What’s Special About WP Page Builder?</h4>
            <p class="mt-3 tracking-wider leading-7">Wondering what makes WP Page Builder so special? I would say, what doesn’t? It’s developed by the team over at Themeum, who has been creating WordPress themes since 2013. As mentioned above, the plugin is a full pack of essential site building elements with all modern the modern functionality you’ve come to expect from a page builder plugin. Let’s have a look below at all of the juicy features WP Page Builder includes.</p>
            <div class="w-full h-[575px] mt-10">
                <img src="../../../assets/blogs/single/2.jpg" class="w-full h-full rounded-xl">
            </div>
            <p class="mt-20 tracking-wider">Here are some of the amazing add-ons included:</p>
            <ul class="list-disc mt-10 space-y-6">
                <li>Form: Create web forms effortlessly. It gives you a convenient way to style your forms as you desire. The Form add-on itself is capable of setting up any kind of form without needing to install any plugin. Moreover, you can manage form plugins and enable reCAPTCHA with just a simple click. There is also an add-on for Contact Form 7 if you prefer.</li>
                <li>Carousel: It’s hard to find an advanced add-on like a carousel in a free page builder plugin, but WP Page Builder lets you create stunning hero sliders without having to pay for it.</li>
                <li>Post Grid: Display blog posts in grids defining the number of posts and styling the look.</li>
                <li>Feature Box: Use the Feature Box add-on to display the features of products on your website.</li>
            </ul>
            <div class="grid grid-cols-2 h-[475px] sm:h-auto gap-10 mt-20 sm:grid-cols-1">
                <img src="../../../assets/blogs/single/3.jpg" class="h-full w-full rounded-xl">
                <img src="../../../assets/blogs/single/4.jpg" class="w-full h-full rounded-xl">
            </div>
            <p class="text-blue tracking-widest text-lg text-center mt-20 single__italic">“ WP Page Builder offers a lot of ready-to-use design blocks to make your site development process a lot faster and easier “</p>
            <app-similar></app-similar>
        </div>
    </div>
</div>

<app-footer></app-footer>