<div class="container pb-10">
    <div class="flex flex-col items-center mb-14">
        <h4 class="text-4xl mb-10 text-center font-bold">CONTACT US</h4>
        <p class="text-center text-gray font-regular text-sm -mt-6 w-[500px] sm:w-full">Do so written as raising parlors spirits mr elderly. Made late in of high left hold. Carried females of up highest calling</p>
    </div>
    <div class="flex flex-col items-center">
        <div class="w-[510px] sm:w-full flex sm:flex-col sm:space-y-6 justify-between">
            <div>
                <input type="text" class="border sm:w-full border-black py-3 px-4 rounded-lg" placeholder="Enter Name...">
            </div>
            <div>
                <input type="text" class="border sm:w-full border-black py-3 px-4 rounded-lg" placeholder="Enter Surname...">
            </div>
        </div>
        <div class="w-[510px] sm:w-full mt-6">
            <textarea class="border border-black px-4 py-3 h-[140px] rounded-lg w-full" placeholder="Type Message..."></textarea>
        </div>
        <button (click)="onSubmit()" class="bg-blue mt-6 sm:w-full text-white font-medium rounded-xl tracking-wider py-3 w-[510px]">Submit</button>
    </div>
</div>

<app-footer></app-footer>