<footer class="mt-12 py-10">
    <div class="container">
        <div class="flex justify-between items-center xs:flex-col gap-4">
            <img src="../../../assets/logo-gray.svg">
            <div class="flex gap-4 md:hidden">
                <img src="../../../assets/icons/vk.svg" class="w-8 h-8 cursor-pointer">
                <img src="../../../assets/icons/pinterest.svg" class="w-8 h-8 cursor-pointer">
                <img src="../../../assets/icons/instagram.svg" class="w-8 h-8 cursor-pointer">
                <img src="../../../assets/icons/twitter.svg" class="w-8 h-8 cursor-pointer">
                <img src="../../../assets/icons/facebook.svg" class="w-8 h-8 cursor-pointer">
            </div>
            <p>All Rights Reserved 2018 3layers</p>
        </div>
    </div>
</footer>